.MuiCircularProgress-colorPrimary {
	color: $secondary;
}

.progress-circle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	&.is-rep .MuiCircularProgress-colorPrimary {
		color: $primary-color;
	}

	&.is-rest .MuiCircularProgress-colorPrimary {
		color: $tertiary;
	}
}

.MuiCircularProgress-static,
.MuiCircularProgress-circleStatic {
	transition: none;
}
