.MuiCircularProgress-colorPrimary {
	color: $primary-color;
}

.progress-circle {
	text-align: center;
	margin-top: 100px;
}

.MuiCircularProgress-static,
.MuiCircularProgress-circleStatic {
	transition: none;
}
