.progress-circle {
	position: relative;

	.status-text {
		position: absolute;
		left: 50%;
		top: 30%;
		transform: translate(-50%, -50%);
	}
}

	.numerator {
	   font-size:.7em;
	   line-height:.7em;
	   vertical-align:.3em;
	}
	.denominator {
	   font-size:.7em;
	   line-height:.7em;
	   vertical-align:-.2em;
	}
	.slash-entity {
	   font-size:.8em;
	   line-height:.8em;
	}