.MuiTypography-root.MuiTypography-h6.MuiTypography-colorInherit {
	margin-left: auto;
}

button.MuiButtonBase-root.MuiIconButton-root.menuButton.MuiIconButton-colorInherit.MuiIconButton-edgeStart {
    margin-left: auto;
}

.MuiAppBar-colorPrimary {
    background-color: #30D5C8 !important;
}

.MuiDrawer-paper {
    background-color: black !important;
}

.MuiListItemText-root {
    color: white !important;
}

.MuiDivider-root {
    background-color: gray !important;
}