.MuiIconButton-edgeStart {
    margin-left: auto;
}

.MuiAppBar-colorPrimary {
    background-color: transparent;
}

.MuiDrawer-paper {
    background-color: black;
}

.MuiListItemText-root {
    color: white;
}

.MuiDivider-root {
    background-color: gray;
}

.MuiListItemIcon-root {
    .MuiSvgIcon-root {
        fill: white;
    }
}